.favorites__container {
  margin: 2rem;
  border: solid 1px #3c3c3c;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
}

.favorites__thumb {
  width: 15%;
  border: solid 1px #3c3c3c;
  margin: 1rem;
}
