.imageContainer {
  margin: 2rem;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 10px;
  border: solid 2px #6d6d6d;
  background: whitesmoke;
  width: 40%;
}

.imageThumb {
  width: 100%;
  margin: 0;
}

.imageAuthor {
  margin: 1.5rem;
  text-align: center;
}

.button__icon {
  position: absolute;
  right: 0%;
  top: 0%;
  color: #0e0e0e;
  background: whitesmoke;
  border-radius: 50%;
  border: solid 1px #6d6d6d;
  font-size: 1.2rem;
  margin: 1rem;
}
